

  <aside id="aside" class="col-md-3 col-md-pull-9">
      <div class="sidebar_widget">
        <div class="widget_heading">
          <h5><i class="fa fa-filter" aria-hidden="true"></i> Find Your Dream Car </h5>
        </div>
        <div class="sidebar_filter">
          <form action="#" method="get">
            <div class="form-group select">
              <select class="form-control">
                <option>Select Location</option>
                <option>Audi</option>
                <option>BMW</option>
                <option>Nissan</option>
                <option>Toyota</option>
                <option>Volvo</option>
                <option>Mazda</option>
                <option>Mercedes-Benz</option>
                <option>Lotus</option>
              </select>
            </div>
            <div class="form-group select">
              <select class="form-control">
                <option>Select Brand</option>
                <option>Audi</option>
                <option>BMW</option>
                <option>Nissan</option>
                <option>Toyota</option>
                <option>Volvo</option>
                <option>Mazda</option>
                <option>Mercedes-Benz</option>
                <option>Lotus</option>
              </select>
            </div>
            <div class="form-group select">
              <select class="form-control">
                <option>Select Model</option>
                <option>Series 1</option>
                <option>Series 2</option>
                <option>Series 3</option>
                <option>Series 4</option>
                <option>Series 6</option>
              </select>
            </div>
            <div class="form-group select">
              <select class="form-control">
                <option>Year of Model </option>
                <option>2016</option>
                <option>2015</option>
                <option>2014</option>
                <option>2013</option>
                <option>2012</option>
                <option>2011</option>
                <option>2010</option>
                <option>2009</option>
                <option>2008</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label">Price Range ($) </label>
              <input id="price_range" type="text" class="span2" value="" data-slider-min="50" data-slider-max="6000" data-slider-step="5" data-slider-value="[1000,5000]"/>
            </div>
            <div class="form-group select">
              <select class="form-control">
                <option>Type of Car </option>
                <option>New Car</option>
                <option>Used Car</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block"><i class="fa fa-search" aria-hidden="true"></i> Search Car</button>
            </div>
          </form>
        </div>
      </div>
      <div class="sidebar_widget sell_car_quote">
        <div class="white-text div_zindex text-center">
          <h3>Sell Your Car</h3>
          <p>Request a quote and sell your car now!</p>
          <a href="#" class="btn">Request a Quote <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a> </div>
        <div class="dark-overlay"></div>
      </div>
      <div class="sidebar_widget">
        <div class="widget_heading">
          <h5><i class="fa fa-car" aria-hidden="true"></i> Recently Listed Cars</h5>
        </div>
        <div class="recent_addedcars">
          <ul>
            <li class="gray-bg">
              <div class="recent_post_img"> <a href="#"><img src="{{ asset('assets_front/') }}assets/images/post_200x200_1.jpg" alt="image"></a> </div>
              <div class="recent_post_title"> <a href="#">Ford Shelby GT350</a>
                <p class="widget_price">$92,000</p>
              </div>
            </li>
            <li class="gray-bg">
              <div class="recent_post_img"> <a href="#"><img src="{{ asset('assets_front/') }}assets/images/post_200x200_2.jpg" alt="image"></a> </div>
              <div class="recent_post_title"> <a href="#">BMW 535i</a>
                <p class="widget_price">$92,000</p>
              </div>
            </li>
            <li class="gray-bg">
              <div class="recent_post_img"> <a href="#"><img src="{{ asset('assets_front/') }}assets/images/post_200x200_3.jpg" alt="image"></a> </div>
              <div class="recent_post_title"> <a href="#">Mazda CX-5 SX, V6, ABS, Sunroof </a>
                <p class="widget_price">$92,000</p>
              </div>
            </li>
            <li class="gray-bg">
              <div class="recent_post_img"> <a href="#"><img src="{{ asset('assets_front/') }}assets/images/post_200x200_4.jpg" alt="image"></a> </div>
              <div class="recent_post_title"> <a href="#">Ford Shelby GT350 </a>
                <p class="widget_price">$92,000</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </aside>